@model Contract_Monthly_System.Models.User

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/indexstyling.css" asp-append-version="true" />


<div class="login">
    <h2>Login</h2>
</div>


<form asp-action="Login" method="post">



    <div class="form-group">
        <label asp-for="UserFullName">Enter Name</label>
        <input asp-for="UserFullName" type="text" class="form-control" />
    </div>




    <div class="form-group">
        <label asp-for="Password">Enter password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>



    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control">
            <option value="Lecturer">Lecturer</option>
            <option value="Coordinator">Programme Coordinator</option>
            <option value="AcademicManager">Academic Manager</option>
        </select>
    </div>

    <button type="submit" class="proceed">Sign In</button>
</form>
