@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/indexstyling.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="header">
    <center><h1 class="Welcome">Welcome</h1></center>
</div>

<p class="explain">
    Welcome to the Contract Montly Claim System we are pleased to announce to you that this system will provide you with a variety of functions to make your job easier.
    <b>Please find the list below useful as it explains what the functionalities are and how they will assist you:</b>
</p>

<center>
    <h5 style="color:blue;">Easy Claim Submission</h5>
    Instead of filling in paper forms or emailing spreadsheets, lecturers can now log in and submit claims within a few clicks.
    The process is streamlined, user-friendly, and ensures that all required information is captured accurately.

</center>

<center>
    <center><img src="~/images/Claim.jpeg" alt="Claim Submission" width="300" /></center>
    <br />
    <br />

    <h5 style="color:blue;">Automated Calculations</h5>
    The system automatically calculates your total hours worked multiplied by your hourly rate,
    <br />reducing human error and ensuring that payment amounts are always correct and consistent.

</center>

<center><img src="~/images/Calculations.jpeg" alt="Calculation" width="300" /></center>
<br />
<br />
<center>
    <h5 style="color:blue;">Upload Supporting Documents Easily</h5>
    Employees no longer need to deliver documents in person.
    <br />You can securely upload contracts, timesheets, or proof of work directly online,
    <br />making document submission faster, safer, and more convenient.
    <br />
    <img src="~/images/UploadSupportingDocuments.jpeg" alt="Upload Supporting Documents" width="350" height="100" />
</center>
<br />
<br />

<center>
    <h5 style="color:blue;">Full Transparency in Claim Processing</h5>
    The system allows you to track the status of claims in real time.
    <br />You will be notified when your claim is submitted, verified, approved, or rejected,
    <br />giving you complete visibility and peace of mind.
    <br />
    <br />
    <img src="~/images/Transparency.jpeg" alt="Transparency" width="350" />
</center>
<br />
<br />

<center>
    <h5 style="color:blue;">Time-Saving Automation</h5>
    By replacing manual paperwork with an automated platform, you save hours of administrative effort.
    <br />This gives lecturers more time to focus on teaching and students, while coordinators can concentrate on managing workflows efficiently.
    <br />
    <img src="~/images/TimeSaving.jpeg" alt="Time Saving" width="200" />
</center>
<br />
<br />

<center>
    <h5 style="color:blue;">Security & Data Integrity</h5>
    All information is stored securely using modern encryption methods.
    <br />The system ensures that sensitive data such as contracts, claims, and payments remain protected,
    <br />reducing risks of data loss or unauthorized access.
    <br />
    <img src="~/images/Cyber Security.jpeg" alt="Security & Data Integrity" width="200" />
</center>
<br />
<br />


<hr size="10" style="color:blue ;">

<h3 style="color:grey;">How to get started?</h3>
<p class="text-center">Create an account and pick your role , once you have done that are officially stored into the systems database ensuring that you get all feautures and may login any time and anywhere you want. </p>




