@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/indexstyling.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="header">
	<center><h1 class="Welcome">Welcome</h1></center>
</div>


