@model Contract_Monthly_System.Models.LectureViewer

<link rel="stylesheet" href="~/css/indexstyling.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="dashboard-wrapper">
    <div class="dashboard-container">
        <h2>Welcome to the Lecturer Dashboard</h2>
        <h3>What would you like to do?</h3>

        <div class="dashboard-actions">

            <a href="@Url.Action("SubmitClaims", "Claims")" class="btn-action">Submit Claim</a>


          

          
            </div>

            </div>

            </div>
